* {
    margin: 0;
    padding: 0;
}

.container .navbar ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
    font-size: 35px;
    color: white;
    background: black;
    letter-spacing: 10px;
    font-family: sans-serif;
}

.container {
    background: black;
    width: 100%;
    height: 40px;
}

.container .navbar ul li:hover{
    background: white;
    color: black;
}

.container .navbar ul{
    text-align: center;
}

.body {
    position: relative;
}

#intro {
    margin: 10px 20px 10px 20px;
    text-align: center;
}

#information {
    position: relative;
    margin-left: 30px;
}

#information h2{
    border-style: solid;
    border-color: indigo;
    padding: 10px;
    margin: -15px;
    background: lightseagreen;
    color: azure;
}

h3 {
    font-size: 30px;
}

.firstp ol li{
    list-style: circle;
    font-size: 15px;
    margin-left: 20px;
    font-size: 20px;
}

#intro {
    background: skyblue;
    color: whitesmoke;
    text-align: left;
}

#intro header h2 {
    font-size: 14px;
    text-align: right;
    margin-right: 5px;
    color: black;
}

.firstp h3 {
    font-size: 40px;
    text-align: center;
}

.intro {
    font-size: 30px;
}

.leftbox {
    box-sizing: border-box;
    display: inline-block;
    size: 50%;
    
}

.rightbox {
    box-sizing: border-box;
    display: inline-block;
    size: 50%;
    
}